$dark: #2D2D2D;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$font-size-lg: $font-size-base * 1.25 !default;
$font-size-lg_x: $font-size-base * 1.55 !default;
$font-size-lg_xx: $font-size-base * 1.85 !default;

$bg-primary-gradient : linear-gradient($teal 20%, darken($teal, 10%) 100%);

$header-height: 90px;


h1 {
    color: $teal;

}

.display-4, .display-3 {
    font-weight: 500;
}

.display-2, .display-1 {
    font-weight: 700;
}
.lead-1 {
    font-size: $font-size-lg_xx; 
    font-weight: 400;   
}

.lead-2 {
    font-size: $font-size-lg_x; 
    font-weight: 400;   
}
.lead-3 {
    font-size: $font-size-lg; 
    font-weight: 400;   
}

.bg-primary{
    background-color: $teal!important;
}

.bg-primary-gradient {
    background: $bg-primary-gradient;
}

.bg-primary-darken {
    background: darken($teal, 20%);
}


.bg-secondary{
    background-color: $teal!important;
}

.bg-secondary-lighten-20{
    background-color: lighten($teal, 20%)!important;
}

.bg-dark-gray{
    background-color: darken($white,12%)!important;
}

.bg-dark-lighten-10 {
    background-color: lighten($dark,10%)!important;
}

.bg-gray{
    background-color: darken($white,8%);
}

.text-primary {
    color: $teal!important;
}

.text-secondary {
    color: $teal!important;
}

.btn-primary {
    background-color: $teal;
    border-color: $teal;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: darken($teal, 20%);
    border-color: darken($teal, 20%);
}

.btn-primary:hover{
    color: #fff;
    background-color: darken($teal, 5%);
    border-color: darken($teal, 5%);
}


.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem lighten($teal, 25%);
}

.btn-outline-primary {
    color: $teal;
    border-color: $teal;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}

.btn-outline-primary:hover{
    color: #fff;
    background-color: $teal;
    border-color: $teal;   
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem lighten($teal, 25%);
}

.btn-secondary {
    background-color: $teal ;
    border-color: $teal ;
}


.btn-outline-secondary {
    color: lighten($dark,15%);;
    border-color: $teal;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active {
    color: $dark;
    background-color: $teal;
    border-color: $teal;
}

.btn-outline-secondary:hover{
    color: $dark;
    background-color: $teal;
    border-color: $teal; 
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem lighten($teal, 25%);
}

.btn-link {    
    color: lighten($dark, 15%);

    &.active{        
        color: $teal;
    }

    &:hover {
        color: lighten($dark, 5%);
    }
}



.btns-light .btn-link{
    color: rgba(255,255,255,.65);

}

.btns-light .btn-link.active{
    color: rgba(255,255,255,.95);
}

/*
    Navbbar
*/


.navbar {
    height: $header-height;
}

/*
    CONTAINERS
*/

.container-sm_x {
    @include make-container($grid-gutter-width);
}

@media (min-width: 1200px) {

    .container-sm{
        max-width: 990px;
    }

    .container-sm_x {
        max-width: 780px;

    }

    .container-sm_xx {
        max-width: 580px;

    }

}

/*
    .is-dark children

*/
.is-dark {

    color: darken($white, 5%);

    h1,h2,h3 {
        color: $white;
    }
    h4,h5,h6 {
        color: darken($white, 5%);
    }  
    p, ul, li {
        color: darken($white, 10%);
    }  

}

/*
    ALERTS
*/
.alert {

    padding: 1.5rem 1.25rem;
    border-width: 0 0 0 10px;
    

    &.alert-warning {
        background: lighten($yellow, 35%);
        color: darken($yellow, 25%);
        border-color: $yellow;


        .alert-icon {
            color: $yellow;
        }        
    }

    &.alert-success {
        background: lighten($teal, 35%);
        color: darken($teal, 25%);
        border-color: $teal;


        .alert-icon {
            color: $teal;
        }        
    }
    
    &.shadow {
        box-shadow: $box-shadow-lg;
    }

}

/*
    HOME PAGE

*/

.axl-sections {

    
    .axl-section{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding-top: 3rem;
        padding-bottom: 3rem;

        &.axl-section-100 {
            min-height: 100vh; 
            justify-content: center; 
        }
    
        &.axl-section-50 {
            min-height: 50vh; 
            justify-content: center; 
        }


        &:first-child.axl-section-100 {
            min-height: calc(100vh - #{$header-height}); 
        }

    }

    .axl-home-mid-section {
        position: relative;
        height: 100%;

        .centered-icon {
            display:none;

        }
    }

    .axl-home-icon-section {
        position: relative;
        height: 100%;       
        
        .centered-icon {
            display:none;

        }        
    }
}

@media(min-width: 990px){

    .axl-sections {

        .axl-home-icon-section {

            .centered-icon {
                display: block;
                position: absolute;
                width: 70px;
                height: 70px;
                left: 50%;
                top: 0%;
                margin-left: -35px;
                margin-top: -35px;
                z-index: 100;
                text-align: center;
                line-height: 70px;
                background: $white;
                color: lighten($dark, 15%);
                transform: rotate(45deg);
                box-shadow: 0 5px 35px -5px lighten($dark, 20%);
        
                svg {
                    transform: rotate(-45deg);
                }   
            }
        }     

        .axl-home-mid-section {
            .centered-icon {
                display: block;
                position: absolute;
                width: 70px;
                height: 70px;
                left: 50%;
                top: 50%;
                margin-left: -35px;
                margin-top: -35px;
                z-index: 100;
                text-align: center;
                line-height: 70px;
                background: darken($dark, 20%);
                color: darken($white, 10%);
                transform: rotate(45deg);
                box-shadow: $box-shadow-lg;
        
                svg {
                    transform: rotate(-45deg);
                }
            }                
        }
    }
}




/*
    .custom COUNTDOWN theme

*/
.rcd-grid {
    &.rcd-theme-custom {

        .rcd-item{
            
            .rcd-card {
                position: relative;    
                &.rcd-card-days {                      
                    .rcd-value {
                       color: $teal!important;                       
                       font-size: calc(35px + 3.5vmin) ;
                    }    
                }                  
                &:after {
                    content: '';
                    height: 30px;
                    width: 1px;
                    background: $teal!important;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -15px;
                }   
                
            }
        }    
        .rcd-item:last-child {
            .rcd-card {
                &:after{
                    display: none;            
                }
            }
            
        }    

        &.is-dark {
            .rcd-card-days {
                .rcd-value {
                    text-shadow: 0px 5px 15px darken($dark, 35%);
                }
            }
        }

    }
}


pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-align: left;
}